<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DCS_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DCS_WPF.Properties.Settings>
            <setting name="DefaultSaveDirectory" serializeAs="String">
                <value>c:\Temp\DSCsave</value>
            </setting>
            <setting name="DefaultSaveLabel" serializeAs="String">
                <value>Output</value>
            </setting>
            <setting name="DefaultSourceDirectory" serializeAs="String">
                <value>c:\Temp\Source</value>
            </setting>
            <setting name="DefaultSourceLabel" serializeAs="String">
                <value>Reference</value>
            </setting>
            <setting name="DefaultTargetDirectory" serializeAs="String">
                <value>c:\Temp\Target</value>
            </setting>
            <setting name="DefaultTargetLabel" serializeAs="String">
                <value>Investigation</value>
            </setting>
        </DCS_WPF.Properties.Settings>
    </userSettings>
</configuration>